<div>
    <div id="page-content-header" class="navbar-fixed-top flex-container">
        <h1 class="title">Qlik Sense Governance Collector</h1>
        <button style="float:right;margin-right:20px;margin-top:20px;" class="lui-button  lui-button--toolbar-inverse" id="help-dialog"
            ng-click="model.openHelp()">?</button>
        <button style="float:right;margin-right:40px;margin-top:20px;" class="lui-button  lui-button--toolbar-inverse" id="config-dialog"
            ng-click="model.openConfig()"><span class="lui-button__icon  lui-icon  lui-icon--cogwheel" aria-hidden="true"></span></button>
    </div>
    <div id="page-content-body">

        <form name="form" id="governanceForm" enctype="multipart/form-data" novalidate>
            <div id="main">
                <div id="left">
                    <div id="btnArea" class="govButtons">
                        <div id="selectArea">
                            <select name="avail-servers" id="availServers" ng-change="model.selectServer()" ng-model="model.currentServer" ng-init="model.initSelectServer()"
                                class="lui-select" ng-options="server.hostname for server in model.serverList track by server.hostname"
                                style="width:80%;">
                            </select>
                            <button class="lui-button" ng-click="model.openConfig()">Add</button>
                        </div>
                        <div id="singleCollectionApp" ng-show="model.singleApp">
                            <select name="avail-apps" id="availApps" ng-change="model.selectApps()" ng-model="model.currentApp" ng-init="model.initSelectApp()"
                                class="lui-select" ng-options="app.name for app in model.appList track by app.name" style="width:80%">
                            </select>
                        </div>
                        <div tooltips tooltip-template="{{model.textGenMetaData}}" tooltip-side="right" tooltip-class="toolies">
                            <button id="genMetadata" class="lui-button leftButtons" ng-click="model.genMetadata()" ng-class=" model.buttonsEnabled ? (model.boolGenMetadata ? 'lui-button lui-button--success' : 'lui-button') : 'lui-button lui-disabled'"
                                ng-mouseover="model.tipMeta=true" ng-mouseleave="mode.tipMeta=false">Generate App Metadata</button>
                        </div>
                        <div tooltips tooltip-template="{{model.textParseLoadScripts}}" tooltip-side="right" tooltip-class="toolies">
                            <button id="parseLoadScripts" class="lui-button leftButtons" ng-click="model.parseLoadScripts()" ng-class="model.buttonsEnabled ? (model.boolParseLoadScripts ? 'lui-button lui-button--success' : 'lui-button') : 'lui-button lui-disabled'">Parse Load Scripts</button>
                        </div>
                        <div tooltips tooltip-template="{{model.textGenerateQVDs}}" tooltip-side="right" tooltip-class="toolies">
                            <button id="genQVDs" class="lui-button leftButtons" ng-click="model.genQVDs()" ng-class="model.buttonsEnabled ? (model.boolGenQVDs ? 'lui-button lui-button--success' : 'lui-button') : 'lui-button lui-disabled'">Generate QVDs</button>
                        </div>
                        <div tooltips tooltip-template="{{model.textRefreshGovernanceApp}}" tooltip-side="right" tooltip-class="toolies">
                            <button id="refreshGovernanceApp" class="lui-button leftButtons" ng-click="model.refreshGovernanceApp()" ng-class="model.buttonsEnabled ? (model.boolRefreshGovernanceApp ? 'lui-button lui-button--success' : 'lui-button') : 'lui-button lui-disabled'">Refresh Governance App</button>
                        </div>
                    </div>
                </div>
                <div id="right">
                    <div class="lui-label" ng-hide="model.currentServer.hostname==model.serverList[0].hostname">http://{{model.hostname}}:{{model.port}}</div>

                    <div class="govButtons">
                        <button id="goButton" class="lui-button lui-disabled" ng-click="model.gogoGovernance()" ng-class="((model.boolGenMetadata || model.boolParseLoadScripts || model.boolGenQVDs || model.boolRefreshGovernanceApp) && (!model.singleApp || (model.singleApp && model.currentApp.id != null))) ? 'lui-button lui-button--success' : 'lui-button lui-disabled'">Governance!</button>
                    </div>
                </div>
            </div>
            <div id="output" class="frame">
                <div id="outputPanel" class="panel panel-primary">
                    <div class="panel-heading">
                        <div id="flexHeading">
                            Governance Collection Status:
                            <button id="clearOutput" class="lui-button lui-button--inverse" ng-click="model.clearStatus()">Clear Output</button>
                        </div>
                    </div>
                    <div class="panel-body">
                        <div class="frame lui-bg-default">
                            <textarea id="output-area" readonly class="lui-textarea" ng-model="model.statusOutput" />
                        </div>
                    </div>
                </div>
            </div>
        </form>


    </div>
</div>


</div>