<div>
    <form name="form.governanceAppMetadataCollectionForm" id="governanceAppMetadataCollection" enctype="multipart/form-data"
        novalidate>
        <div class="lui-modal-background" style="background:transparent;"></div>
        <div class="governance-app-collector-modal">
            <div class="lui-dialog" style="width:100%;">
                <div class="lui-dialog__header">
                    <div class="lui-dialog__title">Select Apps to Collect Metadata</div>
                </div>
                <div class="lui-dialog__body">
                    <div style="display:flex;justify-content:space-evenly;">
                        <label class="lui-checkbox">
                                        <input class="lui-checkbox__input" type="checkbox" aria-label="Harvest from all apps on server" id="appMode" ng-click="model.setAppMode(model.boolAppMode)" value="{{model.boolAppMode}}" ng-checked="{{model.boolAppMode}}" />
                                    <div class="lui-checkbox__check-wrap">
                                        <span class="lui-checkbox__check" ></span>
                                        <span class="lui-checkbox__check-text">Harvest from all apps on server</span>
                                    </div>
    
                                </label>
                        <label class="lui-checkbox">
                                        <input class="lui-checkbox__input" type="checkbox" aria-label="Open apps without data" id="dataMode" ng-click="model.setDataMode(model.boolDataMode)" value="{{model.boolDataMode}}" ng-checked="{{model.boolDataMode}}" />
                                    <div class="lui-checkbox__check-wrap">
                                        <span class="lui-checkbox__check" ></span>
                                        <span class="lui-checkbox__check-text">Open apps without data</span>
                                    </div>
    
                                </label>
                    </div>
                    <div id="appList" style="display:flex;justify-content:center;width:100%;" ng-hide="model.boolAppMode">
                        <dualmultiselect options="model.dualmultioptions"></dualmultiselect>
                    </div>
                </div>
                <div class="lui-dialog__footer">
                    <button class="lui-button  lui-dialog__button  close-button" ng-click="model.cancelSettings()">Cancel</button>
                    <button class="lui-button  lui-dialog__button  close-button" ng-click="model.closeAppMetadataCollect()">OK</button>
                </div>
            </div>
        </div>
    </form>
</div>