<div>
    <form name="form.governanceSettingsForm" id="governanceSettingsForm" enctype="multipart/form-data" novalidate>
        <div class="lui-modal-background" style="background:transparent;"></div>
        <div class="governance-settings-modal">
            <div class="lui-dialog" style="width:100%;">
                <div class="lui-dialog__header">
                    <div class="lui-dialog__title">Settings</div>
                </div>
                <div class="lui-dialog__body">
                    <div id="serverInfo" style="display:flex;flex-direction:column;width:100%;">
                        <div id="selectServer">
                            <select name="servers" id="serverSelect" ng-change="model.selectSetting()" ng-model="model.currentSetting" ng-init="model.initSelectSettings()"
                                class="lui-select" ng-options="setting.hostname for setting in model.settingsList track by setting.hostname">
                            </select>
                            <div style="width:10px"></div>
                            <button id="removeEntry" class="lui-button lui-button--danger lui-disabled" ng-class="model.currentSetting.hostname != model.settingsList[0].hostname ? 'lui-button lui-button--danger' : 'lui-button lui-button--danger lui-disabled'"
                                ng-click="model.deleteSetting()">Remove Entry</button>

                        </div>
                        <div id="serverInfo" style="display:flex;flex-direction:column;width:100%">
                            <div class="info-entry">
                                <label class="lui-label info-label">Hostname:
                                </label>
                                <label class="lui-label">http://</label>
                                <input style="margin-left:5px;margin-right:5px;width:88%;" class="lui-input" type="text" placeholder="Enter hostname" id="hostname"
                                    name="hostname" ng-model="model.hostname">
                                <label class="lui-label">:</label>
                                <input style="width:20%;margin-left:6px;" class="lui-input" type="text" placeholder="8592" value="8592" id="port" name="port"
                                    ng-model="model.port">
                            </div>
                        </div>
                        <div class="info-entry" style="display:flex;justify-content:center;padding-bottom:5px;">
                            <button id="settings-save-button" class="lui-button lui-button--success" style="width:20%" ng-click="model.saveSettings()">Save</button>
                        </div>
                        <div class="info-entry" style="display:flex;justify-content:center;padding-bottom:5px;">
                            <button class="lui-button lui-button--success" ng-click="model.importStuff()" ng-class="((model.uploadApps && model.createTasks && model.importExtensions && model.createDataConnections) || !model.settingsSaved) ? 'lui-button lui-button--success lui-disabled' : 'lui-button lui-button--success'">Import Resources</button>
                            <div class="frame" style="display:flex;justify-content:center;margin-left:10px;" ng-show="model.modal">
                                <div class="overlay">
                                    <div id="imageWrapper" style="width:100%;height:100%;overflow:hidden;margin:auto">

                                        <div>
                                            <img id="spin" style="width:20%;height:20%;display:block;overflow:hidden" src="public/img/loader.svg" />
                                        </div>

                                    </div>

                                </div>
                            </div>
                        </div>
                        <div id="importStuff" style="display:flex;justify-content:space-between;padding-bottom:20px">
                            <label class="lui-checkbox">
                                    <input class="lui-checkbox__input" type="checkbox" aria-label="Apps Imported" id="uploadApps" ng-model="model.uploadApps" disabled/>
                                <div class="lui-checkbox__check-wrap">
                                    <span class="lui-checkbox__check" ></span>
                                    <span class="lui-checkbox__check-text">Apps Imported</span>
                                </div>

                            </label>
                            <label class="lui-checkbox">
                                    <input class="lui-checkbox__input" type="checkbox" aria-label="Tasks Created" id="createTasks" ng-model="model.createTasks" disabled/>
                                <div class="lui-checkbox__check-wrap">
                                    <span class="lui-checkbox__check" ></span>
                                    <span class="lui-checkbox__check-text">Tasks Created</span>
                                </div>

                            </label>
                            <label class="lui-checkbox">
                                    <input class="lui-checkbox__input" type="checkbox" aria-label="Extensions Imported" id="importExtensions" ng-model="model.importExtensions" disabled/>
                                <div class="lui-checkbox__check-wrap">
                                    <span class="lui-checkbox__check" ></span>
                                    <span class="lui-checkbox__check-text">Extensions Imported</span>
                                </div>

                            </label>
                            <label class="lui-checkbox">
                                    <input class="lui-checkbox__input" type="checkbox" aria-label="Data Connections Created" id="createDataConnections" ng-model="model.createDataConnections" disabled/>
                                <div class="lui-checkbox__check-wrap">
                                    <span class="lui-checkbox__check" ></span>
                                    <span class="lui-checkbox__check-text">Connections Created</span>
                                </div>
                            </label>

                        </div>

                        <div class="info-entry" style="justify-content:center;padding-bottom:5px;">
                            <label id="settings-save-alert" class="alert alert-success" style="font-size:12px;margin-bottom:0px;display:none;">{{model.saveMessage}}</label>
                        </div>
                    </div>
                </div>
                <div class="lui-dialog__footer">
                    <button class="lui-button  lui-dialog__button  close-button" ng-click="model.cancelSettings()">Cancel</button>
                    <button class="lui-button  lui-dialog__button  close-button" ng-click="model.closeSettings()">OK</button>
                </div>
            </div>
        </div>

    </form>
</div>


<!-- style="position: fixed;top:188px;left:250px;bottom:0px;right:0px;overflow-y: auto;z-index:2000 " -->
<!--
<div class="settings-tab-content">
    <div>
        <div class="certificate-list-wrapper">
            <div class="certificate-list-wrapper__heading">
                <div class="certificate-list-wrapper__heading__title">Client Certificates</div>
                <div class="certificate-list-wrapper__heading__add">Add Certificate</div>
            </div>
            <div class="certificate-list">
                <div class="certificate-list-item">
                    <div class="certificate-list-item__row">
                        <div class="certificate-list-item__key">Host</div>
                        <div class="certificate-list-item__value">sense314.112adams.local:4242</div>
                        <div class="certificate-list-item__controls">Remove</div>
                    </div>
                    <div class="certificate-list-item__row">
                        <div class="certificate-list-item__key">CRT file</div>
                        <div class="certificate-list-item__value">F:\My Documents\CertFiles\sense314Certs\client.pem</div>
                    </div>
                    <div class="certificate-list-item__row">
                        <div class="certificate-list-item__key">Key file</div>
                        <div class="certificate-list-item__value">F:\My Documents\CertFiles\sense314Certs\client_key.pem</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

-->

<!--<ul class="lui-tabset lui-tabset--fill" style="border: 1px solid rgba(0, 0, 0, 0.1);overflow:hidden;">
                        <li class="lui-tab">
                            <span class="lui-tab__text">Settings</span>
                        </li>
                        <li class="lui-tab">
                            <span class="lui-tab__text">Certificates</span>
                        </li>
                        <li class="lui-tab">
                            <span class="lui-tab__text">Import Helpers</span>
                        </li>
                    </ul>-->
<!--<div>Server List
                    </div>
                    <div>Metadata Output Path</div>
                    <div>QVD Output Path</div>
                    <div>Import Governance Collector App</div>
                    <div>Import Governance Dashboard App</div>
                    <div>Import Goverance Dashboard Extensions</div>-->


<!--
                <div class="lui-modal-background"></div>
            <div class="lui-dialog" style="width: 100%;height:100%;overflow-y: auto;">
                <div class="lui-dialog__header">
                    <div class="lui-dialog__title">Governance Collector Settings</div>
                </div>
                <div class="lui-dialog__body">

                    <div class="settings-modal">
                        <div class="settings-tab-content">
                            <div>
                                <div class="certificate-list-wrapper">
                                    <div class="certificate-list-wrapper__heading">
                                        <div class="certificate-list-wrapper__heading__title">Client Certificates</div>
                                        <div class="certificate-list-wrapper__heading__add">Add Certificate</div>
                                    </div>
                                    <div class="certificate-list">
                                        <div class="certificate-list-item">
                                            <div class="certificate-list-item__row">
                                                <div class="certificate-list-item__key">Host</div>
                                                <div class="certificate-list-item__value">sense314.112adams.local:4242</div>
                                                <div class="certificate-list-item__controls">Remove</div>
                                            </div>
                                            <div class="certificate-list-item__row">
                                                <div class="certificate-list-item__key">CRT file</div>
                                                <div class="certificate-list-item__value">F:\My Documents\CertFiles\sense314Certs\client.pem</div>
                                            </div>
                                            <div class="certificate-list-item__row">
                                                <div class="certificate-list-item__key">Key file</div>
                                                <div class="certificate-list-item__value">F:\My Documents\CertFiles\sense314Certs\client_key.pem</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="lui-dialog__footer">
                </div>
            </div>
        </div>
-->